<header class="site-header">
  <div class="header-pack">
    <div class="wrapper header-wrapper">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <p class="site-subtitle">{{site.subtitle}}</p>

      <div class="menu-icon">
        <span class="span1"></span>
        <span class="span2"></span>
        <span class="span3"></span>
      </div>

    </div>
  </div>
  <nav class="menu">
    <ul>
      <!--<li>Blog</li>
      <li><a href="{{site.baseurl}}/about/">About</a></li>
      <li>Contact</li>-->
      {% for link in site.navigation %}
      {% assign url = page.url|remove:'index.html' %}

      <li>
        <a {% if url == link.url %}class="current" {% endif %} href="{{ link.url }}">
          {{ link.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

</header>
