/**
 * Site header
 */
.header-wrapper {
    text-align: center;
    @include media-query($on-palm) {
      text-align: left;
    }
}

.header-pack {
    background-color: #fff;
    padding: 2em 0;
    position: relative;
    width: 100%;
    z-index: 2;

    @include transition;
}
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 32px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 3px;
    margin-bottom: 0;
    text-transform: uppercase;

    &,
    &:visited {
        color: $green-color;
    }

    @include media-query($on-palm) {
      font-size: 20px;
      font-weight: 400;
    }
}

.site-subtitle {
  color: $grey-color;
  font-size: 14px;
  margin-top: -10px;
  text-transform: uppercase;
}

/**
 * Nav
 */

.menu {
  background-color: #eee;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 20%;
  z-index: 1;

  @include transition;

  @include media-query($on-palm) {
    width: 45%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 15px;
  }

  li {
    font-size: 22px;
    margin-bottom: 5px;
  }

  a {
    &,
    &:visited {
      font-weight: 300;
      color: #666;
    }

    @include media-query($on-palm) {
      font-weight: 400;
    }
  }
  .current {
    &,
    &:visited,
    &:hover,
    &:active {
      color: $green-color;
    }
  }
}

.menu-open {
  .header-pack {
    margin-left: -20%;

    @include media-query($on-palm) {
      margin-left: -45%;
    }
  }

}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    p {
      text-align: center;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}


/**
 * Home
*/
.home {
  .myself {
    font-size: 2em;
  }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-top-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-top-unit;
    }

    .post-link {
      @extend .post-title;

      &,
      &:visited {
        color: #343434;
      }
    }

    h2 {
      margin-bottom: 0;
    }

    .post-description {
      margin-bottom: 2em;
    }

    p {
      font-size: 18px;
      line-height: 28px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    font-size: $post-text-size;
    line-height: $post-line-height;
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h1,h2,h3,h4 {
      margin-bottom: 8px;
      margin-top: $spacing-unit;
    }
}
