<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript">
    (function(d, w) {
      if (!d.querySelector) {
        return false;
      }
      var menu_icon = d.querySelector('.menu-icon');
      var header = d.querySelector('.site-header');
      menu_icon.addEventListener('click', function() {
        header.classList.toggle('menu-open');
      }, false);
    })(document, window);
    </script>

  </body>

</html>
