<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $(".menu-icon").click( function() {
        var header = $(".site-header");
        if(header.hasClass("menu-open")){
          header.removeClass("menu-open");
        } else {
          header.addClass("menu-open");
        }
      });
    });
    </script>

  </body>

</html>
